.nameTable {
	border-collapse: collapse;
	border: 1px solid #000000;
}

.nameTableHeader {
	text-align: center;
	background: #b5b5b5;
	border-bottom: 1px solid #000000;
	padding: 2px;
}

.nameTableOddRow {
    text-align: center;
    background: #ffffff;
}

.nameTableEvenRow {
    text-align: center;
     background: #d3d3d3;
    /* background: #d3d3d3 !important; */
}